body {
	font-size: 1em;
	font-family: sans-serif;
}

a { color: rgb(51, 51, 255); }

a:hover { color: rgb(0, 153, 152); }

a:active { color: rgb(245, 122, 122); }

footer {
	margin-top: 1rem;
	padding-right: 1rem;
	background-color: var(--color-gray);
	text-align: end;
}
