body {
	--color-dark: rgb(51, 51, 51);
	--color-gray: rgb(204, 204, 204);
	font-family: 'Oxanium', 'Noto Sans', 'Noto Color Emoji', 'Arial', 'Helvetica', sans-serif;
}

main { min-height: 80vh; }

footer {
	margin-top: 1rem;
	padding-right: 1rem;
	text-align: end;
}

a { color: rgb(51, 51, 255); }

a:hover { color: rgb(0, 153, 152); }

a:active { color: rgb(245, 122, 122); }
