main {
	display: flex;
	flex-direction: column;
	width: 90vw;
}

div#inputFormula {
	display: flex;
	align-items: center;
	height: 2rem;
}

div#inputFormula > * {
	height: inherit;
	font-family: 'Oxanium', 'Noto Sans', sans-serif;
}

input#formula {
	margin-right: 5px;
	padding: 0 0.5rem;
	background-color: var(--color-gray);
	border: none;
	outline: none;
	appearance: none;
}

button {
	aspect-ratio: 1 / 1;
	border: none;
	border-bottom: solid 0.2rem;
	border-color: var(--color-gray);
}

button:hover { border-bottom-color: var(--color-dark); }

button:active { border-bottom-color: white; }

strong { margin: 0 0.2rem; }

table, th, td {
	border: solid 1px var(--color-dark);
	border-collapse: collapse;
}

th, td { padding: 0.2rem; }

#output {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 350px;
	min-height: 3rem;
	color: white;
	background-color: var(--color-dark);
	text-align: center;
}

.errorNo { text-align: center; }
