:root {
	--color-a: rgb(255, 99, 112);
	--color-b: rgb(0, 153, 152);
	--color-c: rgb(0, 8, 20);
	--color-d: rgb(234, 237, 247);
}

html {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Noto Sans', 'Noto Color Emoji', sans-serif;
}

h2 { font-weight: normal; }

body {
	padding: 0.5rem;
	max-width: 60rem;
	width: 80vw;
	min-width: 350px;
	color: var(--color-d);
	background-color: var(--color-c);
	touch-action: manipulation;
}


main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main > * {
	width: 90%;
	max-width: 90vw;
}

label {
	color: var(--color-d);
	margin-bottom: 0.5rem;
	padding: 0 0 0.25rem 0.25rem;
	border-left: solid 2px var(--color-b);
	border-bottom: dotted 1px var(--color-b);
}

textarea {
	margin-bottom: 1rem;
	color: var(--color-c);
	background-color: var(--color-d);
	font-size: 1.15rem;
}

article {
	border: solid 1px;
	border-color: var(--color-b);
}

button {
	margin: 2.5px;
	padding: 0;
	color: var(--color-d);
	background-color: var(--color-c);
	border: solid 1px;
	border-color: var(--color-d);
	font-size: 1.15rem;
	font-family: 'Noto Sans', 'Noto Color Emoji', sans-serif;
	text-align: center;
	box-shadow: inset 0 0 5px;
	transition-property: width, height, border-radius;
	transition-duration: 100ms;
}

.on { background-color: var(--color-a); }

a { color: var(--color-d); }

a:hover { color: aquamarine; }

a:active { color: rgb(245, 122, 122); }

footer {
	margin-top: 1rem;
	padding-right: 1rem;
	text-align: end;
}
